/* CSS Code */
.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.square1, .square2, .square3, .square4, .square5, .square6, .square7, .square8, .square9 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}